<header>
  <!-- Your header content goes here -->
  <h1>Welcome Jelajah Nusantara</h1>
  <ul>
    <li>
      <a href="/web">Home</a>
    </li>
    <li>
      <a href="/profile">Profile</a>
    </li>
    <li>
      <a href="/allposts">Posts</a>
    </li>
  </ul>
  <!-- Add navigation links, logo, or any other header elements -->
</header>
